src/main/mule/uday-webconsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f67166ba-230f-4a02-8109-8117e7a99b28" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c97aed99-28cd-44bc-8476-008918a06091" >
		<wsc:connection wsdlLocation="https://svn.apache.org/repos/asf/airavata/sandbox/xbaya-web/test/Calculator.wsdl" service="Calculator" port="CalculatorHttpSoap11Endpoint" address="http://156.56.179.164:9763/services/Calculator.CalculatorHttpSoap11Endpoint/" />
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="3be8a531-9f9d-4229-a443-7a45399118cb" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="uday-webconsumerFlow" doc:id="4430af5b-3b9b-45e2-8d53-b4ee0b1a33d4" >
		<http:listener doc:name="Listener" doc:id="e825b5e3-2296-4b98-891a-b7f326852c62" config-ref="HTTP_Listener_config" path="/webconsumer"/>
		<ee:transform doc:name="Transform Message" doc:id="662c69a2-a08e-4fef-9c79-0c38b15b682d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns tem http://tempuri.org/
---
{
	tem#Add:{
		tem:intA:2,
		tem:intB:3
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="083e6940-91d5-4735-af7a-2df0847ab838" config-ref="Web_Service_Consumer_Config1" operation="Add"/>
		<ee:transform doc:name="Transform Message" doc:id="14b44aca-4da4-457e-9258-795f5c3dc0da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6031dc72-f900-4fcd-a487-922f1b5ca585" message="#[payload]"/>
	</flow>
</mule>
